#bu {
    background: url(./sh.jpg) no-repeat 0em -9em/cover ;
    height: 80%;
    width: 100%;
    /* background-image: url(./sh.jpg);
    background-position:0em -9em ;
    background-repeat: no-repeat;
    background-size: cover ; */
}
.bu{
    font-size: 5em;
    margin: 0px 13.5ch 0px 0px;

}
.titr{
    background-color: greenyellow;
    font-size: 2.5em;
    margin: 0ch 30ch 1ch;
    padding: 0ch 2ch 0ch 0ch;
    display: grid;
    grid-template-columns: 3em 3em 3em ;

}
